footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 0px 20px;
    z-index: 999;
    @media( max-width: 480px ) {
        text-align: center;
    }
    a {
        font-family: $font3;
        font-size: 15px;
        line-height: 60px;
        padding: 1px 15px;
        color: #000000;
        display: inline-block;
        
        &:after{
            content: " ";
            border-right: 1px solid #000000;
            height: 30px;
            @media ( max-width: 480px ) {
                margin-left: 10px !important;
            }
        }
        &:first-child {
            padding-left: 0px;
        }
        &.last {
            &:after{
                content: none !important;
            }
        }
    }

    p {
        float: right;
        font-family: $font3;
        font-size: 15px;
        line-height: 60px;
        color: #000000;
        @media ( max-width: 480px ) {
            line-height: 25px;
        }
        a {
            &:after{
                content: none !important;
            }
        }
        i {
            color: #000000;
        }
    }
}