footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 20px 20px;
    z-index: 999;
    @media( max-width: 480px ) {
        text-align: center;
    }
    a {
        font-family: $font3;
        font-size: 15px;
        padding: 1px 15px;
        border-right: 1px solid #000000;
        color: #000000;
        display: inline-block;
        &:first-child {
            padding-left: 0px;
        }
        &.last {
            border-right: none !important;
        }
    }

    p {
        float: right;
        font-family: $font3;
        font-size: 15px;
        color: #000000;
        i {
            color: #000000;
        }
    }
}