* {
  box-sizing: border-box;
  outline: none;
}

body {
  margin: 0;
  padding: 0;
  cursor: url(../img/eye.svg), default;
  overflow-x: hidden;
  header,
  main,
  footer {
    transition: all 0.4s;
  }
  &.menu-open {
    header,
    main,
    footer {
      opacity: 0.5;
    }
  }
}

.container {
    width: 100%;
    max-width: 1665px;
    margin: 0 auto;
    padding: 0 20px;
}

a {
  transition: all 0.3s;
  &:hover {
    cursor: url(../img/eye.svg), pointer;
  }
}