header {
    position: fixed;
    z-index: 9998;
    width: 100%;
    padding: 30px 25px;
    @media( max-width: 480px ) {
        padding: 15px 5px;
    }
    .logo {
        display: block;
        float: left;
        svg {
            width:85px;
            height: auto;
            max-height: 30px;
        }
    }
    .arrow {
        display: block;
        float: right;
        padding: 10px 5px;
        margin-top: -10px;
        svg {
            width: 40px;
            height: auto; 
        }
    }
}

