header {
    position: fixed;
    z-index: 999;
    width: 100%;
    padding: 30px 0px;
    .logo {
        display: block;
        float: left;
        svg {
            width:85px;
            height: auto;
            max-height: 30px;
        }
    }
    .arrow {
        display: block;
        float: right;
        padding: 10px 25px;
        margin-top: -10px;
        svg {
            width: 40px;
            height: auto; 
        }
    }
}

