@media ( max-width: 1366px ) {

    .one {
        h1 {
            font-size: 90px;
            line-height: 90px;
        }
    }


    .two {
        .container {
            h1 {
                font-size: 70px;
                line-height: 70px;
            }
            p {
                font-size: 17px;
            }
        }
    }

    .three {
        h1 {
            max-width: 90%;
            font-size: 80px;
            line-height: 80px;
        }
    }

    .four {
        p {
            font-family: $font2;
            font-size: 30px;
            max-width: 80%;
        }
    }

    .five {
        .container {
            h1 {
                font-size: 100px;
                line-height: 100px;
            }
            p {
                font-size: 16px;
            }
        }
    }

    .aside-menu {
        padding: 0px 20px 30px 80px;

        .form-fields {
            padding: 70px 0px;
        }
    }


}


@media ( max-width: 992px ) {

  

    .aside-menu {
        width: 100%;
        transform: translate(100%);
    }

    .five {
        br {
            display: block !important;
        }
    }

}

@media ( max-width: 992px ) {

  
    .one {
        h1 {
            font-size: 70px;
            line-height: 70px;
        }
    }

}


@media ( max-width: 480px ) {

    .fullSection {
        padding: 70px 0;
    }

    .one {
        h1 {
            font-size: 40px;
            line-height: 40px;
        }
    }


    .two {
        .container {
            h1 {
                font-size: 40px;
                line-height: 40px;
            }
            p {
                font-size: 17px;
            }
        }
    }

    .three {
        h1 {
            max-width: 100%;
            font-size: 40px;
            line-height: 40px;
        }
    }

    .four {
        .container {
            p {
                font-size: 25px;
                max-width: 85%;
            }
        }
    }

    .five {
        padding-bottom: 100px !important;
        .container {
            h1 {
                font-size: 40px;
                line-height: 40px;
                text-align: center;
            }
            p {
                font-size: 16px;
                text-align: center;
            }
        }
    }

    .aside-menu {
        padding: 0px 20px 30px 20px;

        .form-fields {
            padding: 70px 0px;
        }
    }

    footer {
        padding: 10px 0;
        .container {
            text-align: center;
        }
        a {
            padding: 1px 5px !important;
            font-size: 12px;
            line-height: 14px;
            text-align: center;
            display: inline-block;
            float: none;
        }
        p {
            display: block;
            text-align: center;
            float: none !important;
            margin-top: 10px;
            font-size: 12px;
        }
    }

}


@media ( max-width: 350px ) {

    .fullSection {
        padding: 70px 0;
    }

    .one {
        h1 {
            font-size: 30px;
            line-height: 35px;
        }
    }


    .two {
        .container {
            h1 {
                font-size: 30px;
                line-height: 35px;
            }
            p {
                font-size: 17px;
            }
        }
    }

    .three {
        h1 {
            max-width: 100%;
            font-size: 30px;
            line-height: 35px;
        }
    }

    .four {
        .container {
            p {
                font-size: 18px;
                max-width: 85%;
            }
        }
    }

    .five {
        padding-bottom: 100px !important;
        .container {
            h1 {
                font-size: 30px;
                line-height: 35px;
                text-align: center;
            }
            p {
                font-size: 16px;
                text-align: center;
            }
        }
    }

    footer {
        padding: 8px 0;
        .container {
            text-align: center;
        }
        a {
            padding: 1px 5px !important;
            font-size: 12px !important;
            line-height: 12px;
            text-align: center;
            display: inline-block;
            float: none;
        }
        p {
            display: block;
            text-align: center;
            float: none !important;
            margin-top: 10px;
            font-size: 10px;
        }
    }

}