body {
    .fullSection {
        min-height: 100vh;
        display: flex;
        align-items: center;
        padding: 60px 0;
        border: none;
        outline: none;
        transition: all 1.5s;
        h1,
        p,
        span,
        a {
            transition: all 1.5s;
        }
    }
    &.white {
        .fullSection {
            background: #ffffff;
        }
        h1,p {
            color: #0000ff;
        }
        svg {
            fill: #000000;
        }
    }
    &.black {
        .fullSection {
            background: #000000;
        }
        h1,p {
            color: #ffffff;
        }
        svg {
            fill: #ffffff;
        }
        footer {
            a{
                color: #ffffff;
                border-right: 1px solid #ffffff;
            }
            p {
                color:#ffffff;
            }
        }
    }
    &.blue {
        .fullSection {
            background: #0000ff;
        }
        h1,p {
            color: #ffffff;
        }
        svg {
            fill: #ffffff;
        }
        footer {
            a{
                color: #ffffff;
                border-right: 1px solid #ffffff;
            }
            p {
                color:#ffffff;
            }
        }
    }

    &.white2 {
        .fullSection {
            background: #ffffff;
        }
        h1,p {
            color: #000000;
        }
        svg {
            fill: #000000;
        }
    }
}


.one {
    .container {
        h1 {
            font-size: 150px;
            line-height: 150px;
            font-family: $font1;
            text-transform: uppercase;
        }
    }
}


.two {
    .container {
        h1 {
            font-size: 116px;
            line-height: 100px;
            font-family: $font1;
            text-transform: uppercase;
        }
        p {
            font-family: $font2;
            font-size: 25px;
        }
    }
}


.three {
    .container {
        h1 {
            font-size: 150px;
            line-height: 150px;
            font-family: $font1;
            text-transform: uppercase;
        }
    }
}

.four {
    .container {
        p {
            font-family: $font2;
            font-size: 40px;
            max-width: 1125px;
            margin: 0 auto;
            text-align: center;
        }
    }
}

.five {
    .container {
        h1 {
            font-size: 150px;
            line-height: 150px;
            font-family: $font1;
            text-transform: uppercase;
        }
        p {
            font-size: 24px;
            font-family: $font3;
            text-align: left;
            span {
                text-decoration:line-through;
            }
        }
    }
}