body {
    .fullSection {
        min-height: 100vh;
        display: flex;
        align-items: center;
        padding: 60px 20px;
        border: none;
        outline: none;
        transition: all 1.5s;
        h1,
        p,
        span,
        a {
            transition: all 1.5s;
        }
    }
    &.white {
        .fullSection {
            background: #ffffff;
        }
        h1,p,i {
            color: #0000ff;
        }
        svg {
            fill: #000000;
        }
        footer {
            a{
                color: #000000;
                border-right: 1px solid #000000;
            }
            p {
                color:#000000;
                i {
                    color:#000000;
                }
            }
        }
    }
    &.black {
        .fullSection {
            background: #000000;
        }
        h1,p,i {
            color: #ffffff;
        }
        svg {
            fill: #ffffff;
        }
        footer {
            a{
                color: #ffffff;
                border-right: 1px solid #ffffff;
            }
            p {
                color:#ffffff;
            }
        }
    }
    &.blue {
        .fullSection {
            background: #0000ff;
        }
        h1,p,i {
            color: #ffffff;
        }
        svg {
            fill: #ffffff;
        }
        footer {
            a{
                color: #ffffff;
                border-right: 1px solid #ffffff;
            }
            p {
                color:#ffffff;
            }
        }
    }

    &.white2 {
        .fullSection {
            background: #ffffff;
        }
        h1,p,i {
            color: #0000ff;
        }
        svg {
            fill: #000000;
        }
        footer {
            a{
                color: #000000;
                border-right: 1px solid #000000;
            }
            p {
                color:#000000;
                i {
                    color:#000000;
                }
            }
        }
    }
}


.one {
    h1 {
        font-size: 150px;
        line-height: 150px;
        font-family: $font1;
        text-transform: uppercase;
        @media( min-width: 2400px ) {
            font-size: 250px;
            line-height: 1em;
        }
    }
}


.two {
    .container {
        h1 {
            font-size: 69px;
            line-height: 70px;
            font-family: $font2;
        }
        p {
            font-family: $font2;
            font-size: 25px;
            position: relative;
        }
    }
}


.three {
    h1 {
        font-size: 150px;
        line-height: 150px;
        font-family: $font1;
        text-transform: uppercase;
        position: relative;
    }
}

.four {
    .container {
        p {
            font-family: $font2;
            font-size: 40px;
            max-width: 1125px;
            margin: 0 auto;
            text-align: center;
            position: relative;
            a {
                text-decoration: underline;
                color: #fff;
            }
        }
    }
}

.five {
    .container {
        h1 {
            font-size: 150px;
            line-height: 150px;
            font-family: $font1;
            text-transform: uppercase;
            position: relative;
        }
        p {
            font-size: 24px;
            font-family: $font3;
            text-align: left;
            position: relative;
            span {
                text-decoration:line-through;
            }
        }
    }
}



span {
    position: relative;
    iframe {
        position: absolute;
        top: -30%;
        left: 0px;
        width: 300px;
        height: 200px;
        @extend .animated;
        @extend .tada;
    }

    &:hover {
        iframe {
            display: block;
        }
    }
}