.video {
    display: inline-block;
    position: relative;
    z-index: 999;
    &.absolute {
        position: absolute !important;
        top: 30%;
        left: 40%;
        @media( max-width: 768px) {
            display: none;
        }
    }
    &:hover {
        z-index: 999;
    }
    &.toparrow {
        img {
            top: 25px;
        }
    }
    img {
        width: 297px !important;
        height: 174px !important;
        position: absolute;
        top: 0px;
        left: 0;
        z-index: 999;
        display: block;
        transition: all 0.5s;
        @media ( max-width: 480px ) {
            width: 190px !important;
            height: 115px !important;
        }
    }
    video {
        display: block;
        width: 297px !important;
        height: 174px !important;
        transition: all 0.5s;
        background-color: #000000;
         
         @media ( max-width: 480px ) {
            width: 190px !important;
            height: 115px !important;
         }
    }

    @media( min-width: 1025px ) {
            &:hover {
                z-index: 9999;
                video {
                    transform: scale(3);
                    @media( max-width: 1366px ) {
                        transform: scale(3);
                    }
                    @media( max-width: 1200px ) {
                        transform: scale(1.7);
                    }
                }
                img {
                    opacity: 0;
                    transform: scale(3);
                    @media( max-width: 1366px ) {
                        transform: scale(3);
                    }
                    @media( max-width: 1200px ) {
                        transform: scale(1.7);
                    }
                }
            }
         }
    i {
        font-size: 25px;
        margin-left: 35%;
    }

    &.full {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        background: black;
        justify-content: center;
        video {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
        }
    }
}

.one {
    .video {
        position: absolute;
        right: 20%;
        bottom: 10%;
        video, img {
            transform-origin: right bottom;
        }
    }
}

.two {
    position: relative;
    .is-4 {
        position: relative;
        video, img {
            transform-origin: left top;
        }
    }
    .is-5 {
        position: relative;
        .video {
            position: relative;
            left: -100px;
            top: 40px;
            @media( max-width: 480px ) {
                left: 0;
            }
            video, img {
                transform-origin: right bottom;
            }
        }
    }
}

.three {
    .video {
        float: right;
        margin-right: 30%;
        position: relative;
        bottom: 120px;
        @media( max-width: 1366px ) {
            bottom: 0px;
        }
        video, img {
            transform-origin: right bottom;
        }
        i {
            float: right;
            margin-right: 20%;
        }
    }
}

.four {
    video, img {
        transform-origin: left top;
    }
    .v2 {
        float: right;
        margin-right: 30%;
        video, img {
            transform-origin: right bottom;
        }
    }
}
.five {
    .video {
        float: right;
        margin-right: 20%;
        video, img {
            transform-origin: center bottom;
        }
    }
}